<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bangdao.mapper.system.UserMenuMapper">
	<select id="selectMenuByUserId" resultType="Long" parameterType="Long">
		SELECT DISTINCT roleMenu.menu_id FROM sys_user_role userRole,
	sys_role_menu roleMenu WHERE userRole.role_id = roleMenu.role_id and
	userRole.user_id=#{userId}
	</select>

</mapper> 