<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bangdao.mapper.repertoryManage.ManageCommodityDetailMapper">

    <resultMap type="ManageCommodityDetail" id="ManageCommodityDetailResult">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="warehouseId" column="warehouse_id"/>
        <result property="number" column="number"/>
        <result property="postDiscountPrice" column="post_discount_price"/>
        <result property="total" column="total"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
    </resultMap>

    <!--查询关联信息sql-->
    <resultMap type="ManageCommodityDetailResp" id="RelationResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="commodityId"    column="commodity_id"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="commodityName"    column="commodity_name"    />
        <result property="commodityAbbreviation"    column="commodity_abbreviation"    />
        <result property="commodityCode"    column="commodity_code"    />
        <result property="basicUnit"    column="basic_unit"    />
        <result property="specifications"    column="specifications"    />
        <result property="positionId"    column="position_id"    />
        <result property="positionName"    column="position_name"    />
        <result property="number"    column="number"    />
        <result property="postDiscountPrice"    column="post_discount_price"    />
        <result property="total"    column="total"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectManageCommodityDetailVo">
        SELECT
            id,
            parent_id,
            warehouse_id,
            number,
            post_discount_price,
            total,
            remark,
            create_by,
            create_time,
            update_by,
            update_time,
            STATUS
        FROM
            rep_manage_commodity_detail
    </sql>

    <!--查询关联信息sql-->
    <sql id="selectRelationVo">
    SELECT
	a.id,
	a.parent_id,
	a.warehouse_id,
	b.commodity_id,
	c.commodity_name,
	c.commodity_abbreviation,
	c.commodity_code,
	c.basic_unit,
	c.specifications,
    d.id AS position_id,
	d. NAME AS position_name,
	a.number,
	a.post_discount_price,
	a.total,
	a.remark,
	a.create_by,
	a.create_time,
	a.update_by,
	a.update_time
    FROM
        rep_manage_commodity_detail a
    LEFT JOIN sys_warehouse b ON a.warehouse_id = b.warehouse_id AND b.status = 1
    LEFT JOIN ess_commodity_base c ON b.commodity_id = c.id
    AND c. STATUS = 1
    LEFT JOIN ess_warehouse_info d ON d.id = b.position_id
    AND d. STATUS = 1
    </sql>

    <select id="selectManageCommodityDetailList"
            parameterType="com.bangdao.requestVo.repertoryManage.ManageCommodityDetailReq"
            resultMap="ManageCommodityDetailResult">
        <include refid="selectManageCommodityDetailVo"/>
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="parentId != null and parentId != ''">and parent_id = #{parentId}</if>
            <if test="warehouseId != null and warehouseId != ''">and warehouse_id = #{warehouseId}</if>
            <if test="number != null and number != ''">and number = #{number}</if>
            <if test="postDiscountPrice != null and postDiscountPrice != ''">and post_discount_price = #{postDiscountPrice}</if>
            <if test="total != null and total != ''">and total = #{total}</if>
            <if test="remark != null and remark != ''">and remark = #{remark}</if>
            <if test="createBy != null and createBy != ''">and create_by = #{createBy}</if>
            <if test="createTime != null">and create_time = #{createTime}</if>
            <if test="updateBy != null and updateBy != ''">and update_by = #{updateBy}</if>
            <if test="updateTime != null">and update_time = #{updateTime}</if>
            and status = 1
        </where>
    </select>

    <!--查询关联信息sql-->
    <select id="selectRelationList" parameterType="com.bangdao.requestVo.repertoryManage.ManageCommodityDetailReq"
            resultMap="RelationResult">
        <include refid="selectRelationVo"/>
        <where>
            <if test="id != null"> and a.id = #{id}</if>
            <if test="parentId != null"> and a.parent_id = #{parentId}</if>
            <if test="number != null and number != ''"> and a.number = #{number}</if>
            <if test="warehouseId != null  and warehouseId != ''"> and a.warehouse_id = #{warehouseId}</if>
            <if test="postDiscountPrice != null and postDiscountPrice != ''"> and a.post_discount_price = #{postDiscountPrice}</if>
            <if test="total != null and total != ''"> and a.total = #{total}</if>
            <if test="remark != null and remark != ''"> and a.remark = #{remark}</if>
            <if test="createBy != null and createBy != ''"> and a.create_by = #{createBy}</if>
            <if test="createTime != null"> and a.create_time = #{createTime}</if>
            <if test="updateBy != null and updateBy != ''"> and a.update_by = #{updateBy}</if>
            <if test="updateTime != null"> and a.update_time = #{updateTime}</if>
            <if test="status != null and status != ''"> and a.status = #{status}</if>
        </where>
    </select>

    <select id="selectManageCommodityDetailById" parameterType="Integer" resultMap="ManageCommodityDetailResult">
        <include refid="selectManageCommodityDetailVo"/>
        where id = #{id}
    </select>

    <!--查询关联信息sql-->
    <select id="selectRelationById" parameterType="Integer" resultMap="RelationResult">
        <include refid="selectRelationVo"/>
        where a.id = #{id}
    </select>

    <insert id="batchInsertOrUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            INSERT into rep_manage_commodity_detail
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.id != null and item.id != '' ">id,</if>
                <if test="item.parentId != null and item.parentId != '' ">parent_id,</if>
                <if test="item.warehouseId != null and item.warehouseId != '' ">warehouse_id,</if>
                <if test="item.number != null and item.number != '' ">number,</if>
                <if test="item.postDiscountPrice != null and item.postDiscountPrice != '' ">post_discount_price,</if>
                <if test="item.total != null and item.total != '' ">total,</if>
                <if test="item.remark != null and item.remark != '' ">remark,</if>
                <if test="item.createBy != null and item.createBy != '' ">create_by,</if>
                <if test="item.createTime != null">create_time,</if>
                <if test="item.updateBy != null and item.updateBy != '' ">update_by,</if>
                <if test="item.updateTime != null">update_time,</if>
                <if test="item.status != null and item.status != '' ">status,</if>
            </trim>
            <trim prefix=" values (" suffix=")" suffixOverrides=",">
                <if test="item.id != null and item.id != ''">#{item.id},</if>
                <if test="item.parentId != null and item.parentId != ''">#{item.parentId},</if>
                <if test="item.warehouseId != null and item.warehouseId != ''">#{item.warehouseId},</if>
                <if test="item.number != null and item.number != ''">#{item.number},</if>
                <if test="item.postDiscountPrice != null and item.postDiscountPrice != ''">#{item.postDiscountPrice},</if>
                <if test="item.total != null and item.total != ''">#{item.total},</if>
                <if test="item.remark != null and item.remark != ''">#{item.remark},</if>
                <if test="item.createBy != null and item.createBy != ''">#{item.createBy},</if>
                <if test="item.createTime != null">#{item.createTime},</if>
                <if test="item.updateBy != null and item.updateBy != ''">#{item.updateBy},</if>
                <if test="item.updateTime != null">#{item.updateTime},</if>
                <if test="item.status != null and item.status != ''">#{item.status},</if>
            </trim>
            ON DUPLICATE KEY UPDATE
            <trim  suffixOverrides=",">
                <if test="item.id != null">id = #{item.id},</if>
                <if test="item.parentId != null  ">parent_id = #{item.parentId},</if>
                <if test="item.warehouseId != null  ">warehouse_id = #{item.warehouseId},</if>
                <if test="item.number != null  ">number = #{item.number},</if>
                <if test="item.postDiscountPrice != null  ">post_discount_price = #{item.postDiscountPrice},</if>
                <if test="item.total != null  ">total = #{item.total},</if>
                <if test="item.remark != null  and item.remark != ''  ">remark = #{item.remark},</if>
                <if test="item.createBy != null  and item.createBy != ''  ">create_by = #{item.createBy},</if>
                <if test="item.createTime != null  ">create_time = #{item.createTime},</if>
                <if test="item.updateBy != null  and item.updateBy != ''  ">update_by = #{item.updateBy},</if>
                <if test="item.updateTime != null  ">update_time = #{item.updateTime},</if>
                <if test="item.status != null  ">status = #{item.status},</if>
            </trim>
        </foreach>
    </insert>


    <insert id="insertManageCommodityDetail" parameterType="ManageCommodityDetail">
        insert into rep_manage_commodity_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != '' ">id,</if>
            <if test="parentId != null and parentId != '' ">parent_id,</if>
            <if test="warehouseId != null and warehouseId != '' ">warehouse_id,</if>
            <if test="number != null and number != '' ">number,</if>
            <if test="postDiscountPrice != null and postDiscountPrice != '' ">post_discount_price,</if>
            <if test="total != null and total != '' ">total,</if>
            <if test="remark != null and remark != '' ">remark,</if>
            <if test="createBy != null and createBy != '' ">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != '' ">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null and status != '' ">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="parentId != null and parentId != ''">#{parentId},</if>
            <if test="warehouseId != null and warehouseId != ''">#{warehouseId},</if>
            <if test="number != null and number != ''">#{number},</if>
            <if test="postDiscountPrice != null and postDiscountPrice != ''">#{postDiscountPrice},</if>
            <if test="total != null and total != ''">#{total},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null and status != ''">#{status},</if>
        </trim>
    </insert>

    <update id="updateManageCommodityDetail" parameterType="ManageCommodityDetail">
        update rep_manage_commodity_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null  ">parent_id = #{parentId},</if>
            <if test="warehouseId != null  ">warehouse_id = #{warehouseId},</if>
            <if test="number != null  ">number = #{number},</if>
            <if test="postDiscountPrice != null  ">post_discount_price = #{postDiscountPrice},</if>
            <if test="total != null  ">total = #{total},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="status != null  ">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteManageCommodityDetailById" parameterType="Integer">
        update rep_manage_commodity_detail set status= -1 where id = #{id}
    </delete>

    <delete id="deleteManageCommodityDetailByIds" parameterType="String">
        update rep_manage_commodity_detail set status= -1 where parent_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteManageCommodityDetailByParentIds" parameterType="String">
        update rep_manage_commodity_detail set status= -1 where parent_id in
        <foreach item="parentId" collection="array" open="(" separator="," close=")">
            #{parentId}
        </foreach>
    </delete>

</mapper>