package ${package}.group.${classname};

import com.bangdao.framework.web.domain.BaseEntity;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.ToString;
import org.apache.commons.lang3.builder.ToStringBuilder;
import org.apache.commons.lang3.builder.ToStringStyle;

/**
 * ${tableComment}表 ${tableName}
 *
 * 该对象仅仅是在controller中，对请求实体做校验分组使用的。
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Update {}
