<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bangdao.mapper.essentialInfo.CitiesMapper">
    
    <resultMap type="Cities" id="CitiesResult">
        <result property="id"    column="id"    />
        <result property="cityid"    column="cityid"    />
        <result property="city"    column="city"    />
        <result property="parentid"    column="parentid"    />
        <result property="sort"    column="sort"    />
    </resultMap>
	
	<sql id="selectCitiesVo">
        select id, cityid, city, parentid, sort from sys_cities
    </sql>
	
    <select id="selectCitiesList" parameterType="com.bangdao.requestVo.essentialInfo.CitiesRequest"
            resultMap="CitiesResult">
        <include refid="selectCitiesVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="cityid != null and cityid != ''"> and cityid = #{cityid}</if>
             <if test="city != null and city != ''"> and city = #{city}</if>
             <if test="parentid != null and parentid != ''"> and parentid = #{parentid}</if>
             <if test="sort != null and sort != ''"> and sort = #{sort}</if>
         </where>
    </select>
    
    <select id="selectCitiesById" parameterType="Integer" resultMap="CitiesResult">
        <include refid="selectCitiesVo"/>
        where id = #{id}
    </select>

    <select id="selectCitiesByParentids" resultType="com.bangdao.domain.essentialInfo.Cities" parameterType="String">
        <include refid="selectCitiesVo"/>
        where parentid in
        <foreach item="parentid" collection="array" open="(" separator="," close=")">
            #{parentid}
        </foreach>
    </select>

    <select id="selectCitiesByIds" resultType="com.bangdao.domain.essentialInfo.Cities" parameterType="String">
        <include refid="selectCitiesVo"/>
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectCitiesListByProvinces" resultMap="CitiesResult" parameterType="String">
        <include refid="selectCitiesVo"/>
        where parentid = #{parentid}
    </select>

    <insert id="insertCities" parameterType="Cities">
        insert into sys_cities
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="cityid != null and cityid != '' ">cityid,</if>
			<if test="city != null and city != '' ">city,</if>
			<if test="parentid != null and parentid != '' ">parentid,</if>
			<if test="sort != null and sort != '' ">sort,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="cityid != null and cityid != ''">#{cityid},</if>
			<if test="city != null and city != ''">#{city},</if>
			<if test="parentid != null and parentid != ''">#{parentid},</if>
			<if test="sort != null and sort != ''">#{sort},</if>
         </trim>
    </insert>
	 
    <update id="updateCities" parameterType="Cities">
        update sys_cities
        <trim prefix="SET" suffixOverrides=",">
            <if test="cityid != null  and cityid != ''  ">cityid = #{cityid},</if>
            <if test="city != null  and city != ''  ">city = #{city},</if>
            <if test="parentid != null  and parentid != ''  ">parentid = #{parentid},</if>
            <if test="sort != null  ">sort = #{sort},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateCitiesByParentid" parameterType="java.util.HashMap">
        update sys_cities set parentid = #{targetParentid} when parentid = #{sourceParentid}
    </update>

	<delete id="deleteCitiesById" parameterType="Integer">
        delete from sys_cities where id = #{id}
    </delete>
	
    <delete id="deleteCitiesByIds" parameterType="String">
        delete from sys_cities where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>