<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bangdao.mapper.essentialInfo.ContactsMapper">
    
    <resultMap type="Contacts" id="ContactsResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="post"    column="post"    />
        <result property="phone"    column="phone"    />
        <result property="workTelephone"    column="work_telephone"    />
        <result property="unitFax"    column="unit_fax"    />
        <result property="homePhone"    column="home_phone"    />
        <result property="birthday"    column="birthday"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
    </resultMap>
	
	<sql id="selectContactsVo">
        select id, name, post, phone, work_telephone, unit_fax, home_phone, birthday, create_time, status from ess_contacts
    </sql>
	
    <select id="selectContactsList" parameterType="com.bangdao.requestVo.essentialInfo.ContactsRequest"
            resultMap="ContactsResult">
        <include refid="selectContactsVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="name != null and name != ''"> and name = #{name}</if>
             <if test="post != null and post != ''"> and post = #{post}</if>
             <if test="phone != null and phone != ''"> and phone = #{phone}</if>
             <if test="workTelephone != null and workTelephone != ''"> and work_telephone = #{workTelephone}</if>
             <if test="unitFax != null and unitFax != ''"> and unit_fax = #{unitFax}</if>
             <if test="homePhone != null and homePhone != ''"> and home_phone = #{homePhone}</if>
             <if test="birthday != null and birthday != ''"> and birthday = #{birthday}</if>
             <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
         </where>
    </select>
    
    <select id="selectContactsById" parameterType="Integer" resultMap="ContactsResult">
        <include refid="selectContactsVo"/>
        where id = #{id}
    </select>

    <insert id="insertContacts" parameterType="Contacts">
        insert into ess_contacts
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="name != null and name != '' ">name,</if>
			<if test="post != null and post != '' ">post,</if>
			<if test="phone != null and phone != '' ">phone,</if>
			<if test="workTelephone != null and workTelephone != '' ">work_telephone,</if>
			<if test="unitFax != null and unitFax != '' ">unit_fax,</if>
			<if test="homePhone != null and homePhone != '' ">home_phone,</if>
			<if test="birthday != null and birthday != '' ">birthday,</if>
			<if test="createTime != null and createTime != '' ">create_time,</if>
			<if test="status != null and status != '' ">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="name != null and name != ''">#{name},</if>
			<if test="post != null and post != ''">#{post},</if>
			<if test="phone != null and phone != ''">#{phone},</if>
			<if test="workTelephone != null and workTelephone != ''">#{workTelephone},</if>
			<if test="unitFax != null and unitFax != ''">#{unitFax},</if>
			<if test="homePhone != null and homePhone != ''">#{homePhone},</if>
			<if test="birthday != null and birthday != ''">#{birthday},</if>
			<if test="createTime != null and createTime != ''">#{createTime},</if>
			<if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>
	 
    <update id="updateContacts" parameterType="Contacts">
        update ess_contacts
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="post != null  and post != ''  ">post = #{post},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="workTelephone != null  and workTelephone != ''  ">work_telephone = #{workTelephone},</if>
            <if test="unitFax != null  and unitFax != ''  ">unit_fax = #{unitFax},</if>
            <if test="homePhone != null  and homePhone != ''  ">home_phone = #{homePhone},</if>
            <if test="birthday != null  and birthday != ''  ">birthday = #{birthday},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="status != null  ">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteContactsById" parameterType="Integer">
        delete from ess_contacts where id = #{id}
    </delete>
	
    <delete id="deleteContactsByIds" parameterType="String">
        delete from ess_contacts where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>