<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bangdao.mapper.essentialInfo.WarehouseInfoMapper">
    
    <resultMap type="WarehouseInfo" id="WarehouseInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
        <result property="categoryId"    column="category_id"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectWarehouseInfoVo">
        select w.id, w.name, w.code, w.category_id, w.remark, w.status, w.create_time, 
        w.update_time,c.commodity_category_name
        from ess_warehouse_info w
        LEFT JOIN sys_category c ON w.category_id=c.id
    </sql>
	
    <select id="selectWarehouseInfoList" parameterType="com.bangdao.requestVo.essentialInfo.WarehouseInfoRequest"
            resultMap="WarehouseInfoResult">
        <include refid="selectWarehouseInfoVo"/>
        <where>  
             <if test="name != null and name != ''"> and w.name like concat(concat('%',#{name}),'%')</if>
             <if test="code != null and code != ''"> and w.code = #{code}</if>
             <if test="categoryId != null and categoryId != ''"> and w.category_id = #{categoryId}</if>
             <if test="remark != null and remark != ''"> and w.remark = #{remark}</if>
             and w.status = 1
             <if test="createTime != null and createTime != ''"> and w.create_time = #{createTime}</if>
             <if test="updateTime != null and updateTime != ''"> and w.update_time = #{updateTime}</if>
             <if test="categoryId != null and categoryId != ''"> and w.category_id = #{categoryId}</if>
         </where>
    </select>
    
    <select id="selectWarehouseInfoById" parameterType="Integer" resultMap="WarehouseInfoResult">
        <include refid="selectWarehouseInfoVo"/>
        where w.id = #{id} and w.status = 1
    </select>

    <insert id="insertWarehouseInfo" parameterType="WarehouseInfo">
        insert into ess_warehouse_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null and name != '' ">name,</if>
			<if test="code != null and code != '' ">code,</if>
			<if test="categoryId != null and categoryId != '' ">category_id,</if>
			<if test="remark != null and remark != '' ">remark,</if>
			status,
			create_time,
			<if test="updateTime != null and updateTime != '' ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null and name != ''">#{name},</if>
			<if test="code != null and code != ''">#{code},</if>
			<if test="categoryId != null and categoryId != ''">#{categoryId},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
			1,
			NOW(),
			<if test="updateTime != null and updateTime != ''">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateWarehouseInfo" parameterType="WarehouseInfo">
        update ess_warehouse_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="code != null  and code != ''  ">code = #{code},</if>
            <if test="categoryId != null  ">category_id = #{categoryId},</if>
            <if test="remark != null  ">remark = #{remark},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            update_time = NOW()
        </trim>
        where id = #{id} and status = 1
    </update>

	<delete id="deleteWarehouseInfoById" parameterType="Integer">
        update ess_warehouse_info set status= -1 where id = #{id}
    </delete>
	
    <delete id="deleteWarehouseInfoByIds" parameterType="String">
        update ess_warehouse_info set status= -1  where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>