<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/ajax/libs/jquery-layout/jquery.layout-latest.css" th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>

<body class="gray-bg">
	<div class="container-div ui-layout-center">
		<div class="row">
			<div class="col-sm-12 select-info">
				<form id="model-form" onkeydown="if(event.keyCode==13){return false;}">
					<div class="select-list">
						<ul>
							<li>
								模型名称：<input type="text" name="modelName"/>
							</li>
							<li>
								<a class="btn btn-primary  btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group hidden-xs" id="toolbar" role="group">
	        	<a class="btn btn-outline btn-sm btn-success " onclick="modelDeployList('')" shiro:hasPermission="activiti:deploy:view">
	                <i class="fa fa-list-ul"></i> 流程部署列表
	            </a>
	        	<a class="btn btn-outline btn-sm btn-success " onclick="$.operate.add()" shiro:hasPermission="activiti:models:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
	            <a class="btn btn-outline btn-sm btn-danger " onclick="$.operate.removeAll()" shiro:hasPermission="activiti:models:delete">
	                <i class="fa fa-trash-o"></i> 删除
	            </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
	<script th:inline="javascript">
		/*var editFlag = [[${@permission.hasPermi('activiti:models:update')}]];
		var deployFlag = [[${@permission.hasPermi('activiti:models:deploy')}]];
		var removeFlag = [[${@permission.hasPermi('activiti:models:delete')}]];*/
		var editFlag = "";
		var deployFlag = "";
		var removeFlag = "";
		var prefix = ctx + "activiti/models"

		$(document).ready(function(){
			$('body').layout({ west__size: 185 });
			queryModelList();
		});

		function queryModelList() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/delete",
		        sortName: "createTime",
		        sortOrder: "desc",
		        modalName: "工作流模型",
		        search: false,
		        showExport: false,
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'id',
		            title: '模型编号'
		        },
		        {
		            field: 'name',
		            title: '模型名称',
                    sortable: true,
                    // formatter: function(value, row, index) {
                    //     return '<a href="#" onclick="modelDeployList(\'' + row.id + '\')">' + value + '</a>';
                    // }
		        },
		        {
		            field: 'version',
		            title: '版本'
		        },
		        {
		            field: 'createTime',
		            title: '创建时间',
                    formatter: function(value, row, index) {
		                return formatDateTime(value);
                    }
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="showDesigner(\'' + row.id + '\')"><i class="fa fa-edit"></i>设计流程</a> ');
		                actions.push('<a class="btn btn-success btn-xs ' + deployFlag + '" href="#" onclick="deploy(\'' + row.id + '\')"><i class="fa fa-edit"></i>发布流程</a> ');
		                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		}

		function showDesigner(modelId){
            $.ajax({
                cache : true,
                type : "POST",
                url : prefix + "/get/"+modelId,
                async : false,
                error : function(request) {
                    $.modal.alertError("系统错误");
                },
                success : function(data) {
                    if (data.code == 0) {
                        $.modal.topWindowOpenFull("流程设计：" + data.modelName, ctx + "modelDesigner.html?modelId=" + modelId, 1000, 620);
                        //window.open(ctx + "modelDesigner.html?modelId="+modelId, "流程设计：" + data.modelName, 'height=100, width=400, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
                    }
                }
            });
		}

        function deploy(modelId) {
            $.ajax({
                cache : true,
                type : "POST",
                url : prefix + "/deploy/"+modelId,
                async : false,
                error : function(request) {
                    $.modal.alertError("系统错误");
                },
                success : function(result) {
					if (result.code == web_status.SUCCESS) {
						$.modal.msgSuccess(result.msg);
					} else {
						$.modal.alertError(result.msg);
					}
					$.modal.closeLoading();
                }
            });
        }


        function modelDeployList(modelId) {
            var url = ctx + 'activiti/deploy/modelList?modelId=' + modelId;
            createMenuItem(url, "流程部署");
        }

	</script>
</body>
</html>